
.head-block-logo {
    width: 1280px;
    margin: 45px auto;

}
.logo {

    width: 290px;
    height: 75px;
    font-family: sans-serif;
    font-size: 80px;
    color: black;
    font-stretch: condensed; /*Устанавливает узкое, нормальное или широкое начертание шрифта, что позволяет
    уплотнять или расширять текст.*/


}
.logo:hover {
    color: cadetblue;
}
.color-blue {
    color: #4bcaff;
}
.color-blue:hover {
    color: cadetblue;
}

.navbar {
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    background:#35444f;
}
.navbar-clear {
    display: inline-block;
    width: 200px;

    border: 0;
}
.navbar-menu {
    display: inline-block;
    text-align: center;
}

.navbar-menu-item-1 {
    display: inline-block;
    width: 289px;
    height: 70px;
}
.navbar-menu-item-1:hover {
    width: 289px;
    height: 70px;
    background: #222f3a;
}
.navbar-menu-item-2 {
    display: inline-block;
    width: 151px;
    height: 70px;

}
.navbar-menu-item-2:hover {
    width: 151px;
    height: 70px;
    background: #222f3a;
}
.navbar-menu-item-3 {
    display: inline-block;
    width: 266px;
    height: 70px;
}
.navbar-menu-item-3:hover {
    width: 266px;
    height: 70px;
    background: #222f3a;
}
.navbar-menu-item-4 {
    display: inline-block;
    width:218px;
    height: 70px;
}
.navbar-menu-item-4:hover {
    width:218px;
    height: 70px;
    background: #222f3a;
}
.navbar-menu-link {
    display: inline-block;
    padding-top: 25px;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
}


.content-basic-block {
    width: 1280px;
    margin: 0 auto;
}


.content-information {
    display: inline-block;
    vertical-align: 236px;
    width: 345px;
    height: 400px;
    border: 1px #35444f solid;
}

.content-information-menu {
    font-family: sans-serif;
    font-size: 28px;
    color: #aab1b6;
    text-align: left;
    line-height: 80px;
    text-indent: 45px;
}

.menu-information-1:hover {
    width: 345px;
    height: 80px;
    background-color: #dbdbdb;
}
.menu-information-link-1 {
    color: #aab1b6;
}
.menu-information-link-1:hover {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}
.menu-information-2:hover {
    width: 345px;
    height: 80px;
    background-color: #dbdbdb;
}
.menu-information-link-2 {
    color: #aab1b6;
}
.menu-information-link-2:hover {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: black;

}
.menu-information-3:hover {
    width: 345px;
    height: 80px;
    background-color: #dbdbdb;
}
.menu-information-link-3 {
    color: #aab1b6;
}
.menu-information-link-3:hover {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}

.menu-information-4:hover {
    width: 345px;
    height: 80px;
    background-color: #dbdbdb;
}
.menu-information-link-4 {
    color: #aab1b6;
}
.menu-information-link-4:hover {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}

.menu-information-5:hover {
    width: 345px;
    height: 80px;
    background-color: #dbdbdb;
}
.menu-information-link-5 {
    color: #aab1b6;
}
.menu-information-link-5:hover {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: black;

}

.content-image {
    display: inline-block;
    text-align: center;
    width: 885px;
    height: 530px;
    margin-top: 50px;
    margin-left: 42px;
    padding-top: 75px;
    border: 1px #35444f solid;
    overflow:hidden; /*Оно нужно для того,
    чтобы наше изображение
    не выходило за рамки блока при увеличении.*/
}

.image {
    display: inline-block;
    width: 320px;
    height: 381px;

    transition: all 1s ease-out; /*на аннимацию уходит 1с*/
}
.image:hover {
    transform: scale(1.1); /*В демо картинка увеличивается 1.1 раза. */

}
.content-basic {
    display: inline-block;
    width: 1281px;
}

.paragraphy{
    width: 820px;
    height: 220px;
    margin-left: 425px;
    margin-top: 50px;

}
.footer {
    width: 1280px;
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(12, 25, 39, 255);
    background: #b4b7ba;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0px auto;
}
.footer-menu {
    display: inline-block;
    width: 810px;
    height: 25px;
    padding-left: 25px;
}
.footer-menu-item {
    display: inline-block;
    padding-left: 25px;
}
.footer-menu-link {
    text-decoration: underline;
}
.footer-logo {
    display: inline-block;
    padding-left: 250px;
}
.footer-bottom {
    margin-bottom: 45px;
}